__pycache__/
*.pyc
.ipynb_checkpoints/
x86_64/
special
*.o
*.so
*.dll
*.c
*.cpp
node_modules/
COMBO_*.dat
*_sweep_scale_*.dat
*_sweep_individual_traces/
BNa_sweep_*
KDR_sweep_*
CaL_sweep_*
CaAN_sweep_*
*_temp*/
*.bak
*.tmp
.DS_Store
Thumbs.db
.vscode/
.idea/
